global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  # Tambahkan exporter lain jika ingin monitoring Airflow lebih detail